#topNav {
    background-color: #4444bb;
    height: 4.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.topLeftMenu {
    color: white;
    text-decoration: none;

}
.topRightMenu {
    color: white;
    text-decoration: none;
    position: relative;
    bottom: 4px
}

#cart {
    position: relative;
    top: 6px;
}

.topLeftMenu,
.topRightMenu {
    border-right: 1px solid white;
    padding: 5px;
}

#help {
    border-right: none;
}

#cartIcon {
    border-right: none;
}
